language: node_js
node_js:
  - "8"
install:
  - npm install
services:
  - postgresql
before_script:
  - psql -c 'create database travis_ci_test;' -U postgres
  - npm run migrate
env:
  - DATABASE_URL=postgres://postgres:@localhost:5432/travis_ci_test
